bin/
obj/

*.config

*.nupkg
*.paket.*
paket.lock

*.tmp
*.swp

*.log

packages/

.vs/
.vscode/
*.suo
*.user
*.sln.docstates
*.userprefs
*.vssettings
*.vssscc
*.vsmdi
*.vsmacros
*.csproj.user
*.csproj.vspscc

*.pdb
*.dll
*.exe
*.cache
*.sln.ide

TestResults/
[Tt]est[Rr]esult*/
*.VisualState.xml
_build/

msbuild.log
msbuild.binlog

*.nuget.props
*.nuget.targets

.idea/
*.idea
*.resharper*
*.DotSettings.user
*.sln.DotSettings.user

*.csproj.Rider
*.sln.Rider
*.sln.iml

_docs/
docfx_project/

.github/

*.DS_Store
*.bak
*~